<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="wao.flutter.application.project.application_image_picker">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
</manifest>
